@using ProductsManager.Models

@{
	ViewData["Title"] = "ShowBuyProduct";
	Layout = "_Layout";
	Product product = ViewBag.Product;

}


<div class="container">
	<div class="row"><h1>Buy Product</h1></div>
	<div class="row">
		<div class="col-sm">
			<b>ID</b>
		</div>
		<div class="col-sm">
			@product.ID
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			Name
		</div>
		<div class="col-sm">
			@product.Name
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			Price
		</div>
		<div class="col-sm">
			@product.Price
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			In stock
		</div>
		<div class="col-sm">
			@product.InStock
		</div>
	</div>

	<div class="row">
		<form asp-action="BuyProducts" asp-controller="Home" method="post">
			<div class="col-sm">
				<label>Quantity</label>
				<input placeholder=" " id="Quantity" type="number" name="Quantity" min="1" max="@product.InStock"/>
			</div>

			<div class="col-sm">
				<input type="submit" value="Buy"/>
			</div>
		</form>
	</div>
</div>
